<!-- All Kenny Component 2/23 -->
<form>
  <div class="form-group">
    <label for="kenny">Kenny Omega</label>
    {{input value=kenny id="kenny"}}
  </div>
  <button class="btn btn-primary" {{action 'findKenny'}}>Find Kenny</button>
</form>
